/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('assets/css/common.css');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Assuming .header is the class for your header component and .news is the class for the news display */
.header {
    margin: 0;
    padding: 0;
  }
  
  .home {
    margin: 0;
    padding: 0;
  }
  